.banner {
  //  background-image: linear-gradient(90deg, rgba(13, 13, 13, 0) 0%, rgba(13, 13, 13, 0) 100%);

  /*
  height: 1035px;

  background-image: url("../img/background-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  */

  padding-bottom: 50px;

  @include media-tablet {

    height: 550px;// 600px;

    background-image: url("../img/background-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include retina {
      background-image: url("../img/background-tablet@2x.jpg");
    }

  }
  @include media-mobile {
    /*
    height: 515px;

    background-image: url("../img/background-mobile@1x.jpg");

    @include retina {
      background-image: url("../img/background-mobile@2x.jpg");
    }
    */
  }
}

.banner__container {
  @include container();
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 10px;

  @include media-tablet {
    padding-left: 83px;
    padding-right: 83px;
  }
}

.banner__header {
  font-size: 72px;
  line-height: 1.2;
  color: $color-white;
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 0;
  height: 195px;
  overflow-y: hidden;

  @include font-raleway-black();

  @include media-tablet {
    font-size: 38px;
    margin-top: 123px;
    height: 108px;
  }

  @include media-mobile {
    font-size: 16px;
  }
}

.banner__title {
  @include visually-hidden();
}

.banner__mobile-text {
  display: none;

  @include media-mobile {
    display: inline;
    font-size: 16px;

    @include font-roboto-regular();
    color: $color-white;
    line-height: 1.2;

    span {
      color: $color-green;
    }
  }
}

.banner__text {
  font-size: 24px;

  @include font-roboto-medium();
  color: $color-white;
  line-height: 1.583;
  margin-top: 0;
  margin-bottom: 0;
  height: 200px;
  overflow-y: hidden;
  max-width: 1000px;

  span {
    color: $color-green;
  }

  @include media-tablet {
    @include font-roboto-regular();
    font-size: 16px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    height: 178px;
    overflow-y: hidden;
  }

  @include media-mobile {
    font-size: 12px;
    color: $color-black;
    line-height: 1.5;
    order: 10;
    margin-top: 300px;

    span {
      color: $color-black;
    }
  }
}

.banner__button-block {
  display: flex;
  justify-content: space-between;
  max-width: 620px;
  margin-top: 5px;
  margin-bottom: 0;

  @include media-tablet {
//    max-width: none;
  }

  @include media-mobile {
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-width: none;
  }
}

.banner__button {
  color: $color-black;

  @include font-roboto-black();

  font-size: 20px;
  line-height: 1.3;

  &--services {
    @include button($color-green, $color-green);
  }

  &--contact {
    @include button(transparent, $color-green) {
      color: $color-white;
    }

    @include media-mobile {
      margin-top: 10px;
    }
  }

  width: 298px;
  height: 54px;

  @include media-tablet {
    font-size: 16px;
    line-height: 1.625;
    width: 288px;
    height: 52px;
  }
}
