.banner {
  position: relative;
  //  background-image: linear-gradient(90deg, rgba(13, 13, 13, 0) 0%, rgba(13, 13, 13, 0) 100%);
  /*
  height: 1035px;
  background-image: url("../img/background-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  */
  //padding-bottom: 50px;
  /*
  @include media-tablet {
    height: 550px;// 600px;
    background-image: url("../img/background-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include retina {
      background-image: url("../img/background-tablet@2x.jpg");
    }

  }
  */
  /*
  @include media-mobile {
    !*
    height: 515px;
    background-position: center top;
    background-image: url("../img/background-mobile@1x.jpg");

    @include retina {
      background-image: url("../img/background-mobile@2x.jpg");
    }
    *!
    height: auto;
    background-image: none;
    padding-bottom: 10px;
  }
  */

  width: 100%;
  height: 1035px;

  img {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  @include media-tablet {
    height: 600px;

    img {
      top: 0;
    }
  }

  @include media-mobile {
    height: 515px;

    img {
      top: -50px;
    }
  }
}

.banner__container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 15px;

  @include container();

  @include media-tablet {
    padding-right: 83px;
    padding-left: 83px;
  }

  @include media-mobile {
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.banner__header {
  height: 195px;
  margin-top: 150px;
  margin-bottom: 0;
  overflow-y: hidden;

  font-size: 72px;
  line-height: 1.2;
  color: $color-white;
  text-transform: uppercase;

  @include font-raleway-black();

  @include media-tablet {
    height: 108px;
    margin-top: 123px;

    font-size: 38px;
  }

  @include media-mobile {
    height: 50px;
    margin-top: 127px;

    font-size: 16px;
    text-align: center;
  }
}

.banner__title {
  @include visually-hidden();
}

.banner__mobile-text {
  display: none;

  @include media-mobile {
    display: inline;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 0;
    overflow-y: hidden;

    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: $color-white;

    @include font-roboto-regular();

    span {
      color: $color-green;
    }
  }
}

.banner__text {
  max-width: 1000px;
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
  overflow-y: hidden;

  font-size: 24px;
  line-height: 1.583;
  color: $color-white;

  @include font-roboto-medium();

  @include media-tablet {
    height: 178px;
    margin-top: 0;
    margin-bottom: 0;
    overflow-y: hidden;

    font-size: 16px;
    line-height: 1.2;

    @include font-roboto-regular();
  }

  @include media-mobile {
    order: 10;
    margin-top: 87px;

    font-size: 12px;
    line-height: 1.5;
    color: $color-black;

    span {
      color: $color-black;
    }
  }

  span {
    color: $color-green;
  }
}

.banner__button-block {
  display: flex;
  justify-content: space-between;
  max-width: 620px;
  margin-top: 5px;
  margin-bottom: 0;

  @include media-tablet {
    //    max-width: none;
  }

  @include media-mobile {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: none;
    margin-top: 44px;
  }
}

.banner__button {
  width: 298px;
  height: 54px;

  font-size: 20px;
  line-height: 1.3;
  color: $color-black;

  @include font-roboto-black();

  @include media-tablet {
    width: 288px;
    height: 52px;

    font-size: 16px;
    line-height: 1.625;
  }

  @include media-mobile {
    width: 100%;
    height: 58px;

    font-size: 16px;
    line-height: 1.625;
    text-transform: uppercase;
  }

  &--services {
    @include button($color-green, $color-green);
  }

  &--contact {
    @include button(transparent, $color-green) {
      color: $color-white;
    }

    @include media-mobile {
      margin-top: 10px;
    }
  }
}
