.button {
  background-color: transparent;
  transition-duration: 500ms;
  transition-property: opacity;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  max-width: 300px;
  overflow: hidden;
  border: 1px solid transparent;

  &:hover,
  &:active {
    box-shadow: 0 2px 4.75px 0.25px rgba(0, 255, 215, 0.6);
    opacity: 0.7;
  }

  &:focus {
    outline: none;
  }

  @include media-mobile {
    width: 100%;
    max-width: none;
  }
}
