.footer {
  background-color: $color-black;
  padding-top: 0;
  padding-bottom: 30px;

  @include media-mobile {
    background-color: #1a1a1a;
    padding-bottom: 0;
  }
}

.footer .container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 0;

  @include media-tablet {
    padding-left: 65px;
    padding-right: 62px;
  }

  @include media-mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer__top {
  margin-top: 63px;
  padding-bottom: 124px;
  display: flex;
  justify-content: space-between;
  position: relative;

  @include media-tablet {
    flex-direction: column;
    align-items: flex-end;

    margin-top: 24px;
    padding-bottom: 33px;
  }

  @include media-mobile {
    margin-top: 20px;
  }
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  @include media-tablet {
    margin-left: 50px;
  }

  @include media-mobile {
    margin-left: 0;
    flex-direction: column;
    width: 100%;
  }
}

.footer__end {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-mobile {
    background-color: $color-black;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.footer__end-text {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  line-height: 2.5;
  margin-top: 17px;

  @include media-tablet {
    margin-top: 8px;
  }

  @include media-mobile {
    max-width: 200px;
    line-height: 14px;
    text-align: center;
  }
}
