.header {
  background-color: #fbfbfb;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;

    height: 1035px;

    background-image: url("../img/background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include retina {
      background-image: url("../img/background-desktop@2x.jpg");
    }

    @include media-tablet {
      display: none;
      height: 550px;

      background-image: url("../img/background-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      @include retina {
        background-image: url("../img/background-tablet@2x.jpg");
      }
    }

    @include media-mobile {
      height: 515px;
      background-image: url("../img/background-mobile@1x.jpg");

      @include retina {
        background-image: url("../img/background-mobile@2x.jpg");
      }
    }

  }


}

.header__container {
  @include container();
  padding-top: 7px;
  padding-bottom: 0;
  padding-left: 65px;
  padding-right: 65px;
  display: flex;
  align-items: center;

  @include media-tablet {
    position: relative;
  }

  @include media-mobile {
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header__logo {
  flex-shrink: 0;
}

.header__menu-toggle {
  display: none;
  border: none;
  background-color: transparent;
  transition-duration: 500ms;
  transition-property: opacity;
  cursor: pointer;

  &:hover,
  &:active {
    opacity: 0.4;
  }

  span {
    @include visually-hidden();
  }
  @include media-tablet {
    margin-left: 37px;
    margin-top: -5px;
    display: block;
    width: 28px;
    height: 23px;
    background-image: url("../img/menu-toggle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &--opened + .header__nav .main-menu {
      display: flex;
    }
  }

  @include media-mobile {
    width: 18px;
    height: 14px;
  }
}

.header__nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  @include media-tablet {
    //position: relative;

    justify-content: flex-end;

  }

  @include media-mobile {
    display: none;
  }
}

.header__main-menu {
}
