.header {
  background-color: #fbfbfb;
}

.header .container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;


  @include media-tablet {
    position: relative;
    padding-top: 7px;
    padding-bottom: 0;
    padding-left: 65px;
    padding-right: 65px;
  }

  @include media-mobile {
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__logo {
  flex-shrink: 0;
}

.header__menu-toggle {
  display: none;
  border: none;
  background-color: transparent;
  transition-duration: 500ms;
  transition-property: opacity;
  cursor: pointer;

  &:hover,
  &:active {
    opacity: 0.4;
  }

  span {
    @include visually-hidden();
  }

  @include media-tablet {
    margin-left: 37px;
    margin-top: -5px;
    display: block;
    width: 28px;
    height: 23px;
    background-image: url("../img/menu-toggle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &--opened + .header__nav .main-menu {
      display: flex;
    }
  }

  @include media-mobile {
    background-image: url("../img/menu-toggle-mobile.svg");
    margin-left: 0;
    margin-top: -8px;
    width: 18px;
    height: 14px;
    order: 2;
  }
}

.header__nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  @include media-tablet {
    justify-content: flex-end;
  }
}
