.info {
  max-width: 220px;

  @include media-tablet {
    max-width: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 47px;
  }

  @include media-mobile {
    margin-top: 0;
  }
}

.info__text {
  margin-top: 37px;
  margin-bottom: 0;
  font-size: 16px;
  color: rgba(255, 255, 254, 0.902);
  line-height: 2.375;

  @include media-tablet {
    font-size: 12px;
    line-height: 3.167;
    margin-top: 0;
  }

  @include media-mobile {
    display: none;
  }
}

.info__logo {
  @include media-tablet {
    display: none;
  }
}
