$font-roboto: "Roboto", "Arial", sans-serif;
$font-raleway: "Raleway", "Arial", sans-serif;

$color-white: #ffffff;
$color-black: #000000;
$color-green: #00ffd7;

/*$color-text: #666666;
$color-main: #e5e5e5;
$color-border: #ebebeb;
$color-blue: #00b2ff;
$color-motivation: #1b2d37;
$color-footer: #fafafa;
$color-footer-text: #1b2d37;
$color-footer-border: #c4c4c4;
*/
